<div class="row">
  <div class="col-6">
    <ul class="list-group">
      <app-todo-item *ngFor="let todo of todos" [todo]="todo"></app-todo-item>
    </ul>
    <h5 style="margin-top: 60px;">Add Todo</h5>
      <div class="form-group">
        <input type="text" class="form-control" id="newTodo" placeholder="Do something awesome..."
               [(ngModel)]="newItem.title" (keyup.enter)="addTodo()" >
      </div>
      <button class="btn btn-primary" (click)="addTodo()">Add</button>
  </div>
</div>


